<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1 class="display-3 font-weight-normal">Welcome to YelpCamp</h1>
		<p class="lead">View our hand-picked campgroudns from all over the world</p>
		<p>
			<a class="btn btn-primary btn-large" href="/camps/new">Add new campground</a>
		</p>
	</header>
	<div class="row text-center">
		<% camps.forEach(function(camp) { %>
			<div class="col-lg-3 col-md-6">
				<div class="card">
					<img class="card-img-top" src="<%= camp.image %>">
					<div class="card-body">
						<h4 class="card-title"><%= camp.name %></h4>
						<a class="btn btn-primary" href="/camps/<%= camp._id %>">More Info</a>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>